.tab-options {
    box-shadow: var(--border-white) 0px -0.5px 0px inset;
}

.options-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.tab-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 28px;
    padding: 18px 17px 20px 12px;
    cursor: pointer;
}

.tab-name {
    font-size: 20px;
    font-weight: 500;
    margin-left: 10px;
    color: var(--inactive-text);
}

.tab-image-container {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: var(--inactive-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab-image {
    height: 30px;
    width: 30px;
    object-fit: contain;
}

.active-tab{
    border-bottom: 2px solid var(--zomato-red);
}

.active-tab .tab-name {
    color: var(--zomato-red);
}